{% extends "global/base.html" %}

{% block content %}
    <h2 class="title">Relatorio de fluxo</h2>
    <div class="container-card">
        <h3>Relatorio Geral</h3>
        <div class="card">
            <p><span class="bold">Entrada:</span> <span>R$ {{soma_entry}}</span></p>
        </div>
        <div class="card">
            <p><span class="bold">Saida:</span> <span>R$ {{soma_output}}</span></p>
        </div>
        <div class="card">
            <p><span class="bold">Receita Final:</span> <span>R$ {{dif_total}}</span></p>
        </div>
    </div>

    <div class="container-card">
        <h3>Relatorio por tipo de pagamento</h3>
        <div class="card">
            <p><span class="bold">Cartão de crédito:</span> <span>R$ {{ soma_cc }}</span></p>
        </div>
        <div class="card">
            <p><span class="bold">Cartão de débito:</span> <span>R$ {{ soma_cd }}</span></p>
        </div>
        <div class="card">
            <p><span class="bold">Dinheiro:</span> <span>R$ {{ soma_din }}</span></p>
        </div>
        <div class="card">
            <p><span class="bold">Pix:</span> <span>R$ {{ soma_pix }}</span></p>
        </div>
    </div> 
{% endblock content %}